@charset "UTF-8";
.region-header {
  clear: both;
}

#main-wrapper {
  position: relative;
}

#page-wrapper, .region-page-closure {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#content {
  width: 960px;
  display: inline;
  float: right;
  padding: 0;
}
.no-sidebars #content {
  width: 960px;
  margin-right: 0;
  margin-left: -960px;
}
.sidebar-first #content {
  width: 760px;
  margin-right: 200px;
  margin-left: -960px;
}
.sidebar-second #content {
  width: 760px;
  margin-right: 0;
  margin-left: -760px;
}
.two-sidebars #content {
  width: 560px;
  margin-right: 200px;
  margin-left: -760px;
}

.region-sidebar-first {
  display: inline;
  float: right;
  width: 200px;
  margin-right: 0;
  margin-left: -200px;
}

.region-sidebar-second {
  display: inline;
  float: right;
  width: 200px;
  margin-right: 760px;
  margin-left: -960px;
}
.two-sidebars .region-sidebar-second {
  margin-right: 760px;
  margin-left: -760px;
}

#content .section {
  margin: 0;
  padding: 0;
}

#navigation {
  overflow: hidden;
  display: inline;
  float: right;
  width: 100%;
  margin-right: 0;
  margin-left: -100%;
  padding: 0;
  height: 2.3em;
}
#navigation ul {
  margin: 0;
  padding: 0;
  text-align: "right";
}
#navigation li {
  display: inline;
  float: right;
  padding: 0;
  padding-left: 10px;
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
  margin-top: 2.3em;
}
