// This variable controls the total width of the container div
// You can use px for a Fixed layout or % for a Liquid layout
$xmas-width: 960px;

// These variables control the size of the sidebars
$xmas-first-sidebar-width: 270px;
$xmas-second-sidebar-width: 200px;

// This variable positions the content relative to the sidebars
// Possible values are first, last, middle
$xmas-content-position: "first";

// These variables control the #navigation div
$xmas-navigation-width: 100%;
$xmas-navigation-height: 2.3em;

// These variables control the typefaces as defined in html-reset.css
$xmas-proportional-typeface: 'Georgia, "Times New Roman", Times, serif';
$xmas-monospaced-typeface: '"Courier New", "DejaVu Sans Mono", monospace';

// These variables control the font sizes as defined in html-reset.css
$xmas-base-font-size: 14px;

// Colors
$xmas-blue: #0079BB;
$xmas-dark-blue: #1F1F30;
$xmas-dark-grey: #333333;
$xmas-light-grey: #666666;
$xmas-white: #FFFFFF;

//HTML Elements
.-xmas-h2 { } //Not meant for Block titles

.-xmas-h3 { }

.-xmas-h4 { }

.-xmas-p {
  margin: 0.7em 0; /* TODO: vertical rhythm */
}

.-xmas-li { }

.-xmas-ul {
  li { @extend .-xmas-li; } }

.-xmas-ol {
  li { @extend .-xmas-li; } }

.-xmas-blockquote { }

.-xmas-cite { }

.-xmas-a {
  color: $xmas-blue;
  text-decoration: none;
  &:link { }
  &:visited { }
  &:hover {
    text-decoration: underline; }
  &:focus { }
  &:active { } }

.-xmas-pre { }

.-xmas-code { }

.-xmas-table {
  caption { }
  tr {
    &.odd { }
    &.even { }
    th { }
    td { }
    thead & { }
    tfoot & { }
    tbody & { } } }

// Content Classes
.-xmas-node-content {
  h2 { @extend .-xmas-h2; }
  h3 { @extend .-xmas-h3; }
  h4 { @extend .-xmas-h4; }
  p { @extend .-xmas-p; }
  li { @extend .-xmas-li; }
  ul { @extend .-xmas-ul; }
  ol { @extend .-xmas-ol; }
  pre { @extend .-xmas-pre; }
  code { @extend .-xmas-code; }
  blockquote { @extend .-xmas-blockquote; }
  cite { @extend .-xmas-cite; }
  a { @extend .-xmas-a; }
  table { @extend .-xmas-table; } }

.-xmas-block-content {
  h3 { @extend .-xmas-h3; }
  h4 { @extend .-xmas-h4; }
  p { @extend .-xmas-p; }
  ul { @extend .-xmas-ul; }
  ol { @extend .-xmas-ol; }
  li { @extend .-xmas-li; }
  a { @extend .-xmas-a; } }

// Page Components
.-xmas-body {
  background: image-url('bk_body.jpg') no-repeat scroll top center $xmas-dark-blue;
  color: $xmas-dark-grey;
  line-height: 135%; /* TODO: vertical rhythm */ }

.-xmas-skip-link { }

.-xmas-page { }

.-xmas-header {
  height: 229px; /* TODO: vertical rhythm */
  position: relative; /* TODO: layout */ }

.-xmas-logo { }

.-xmas-name-and-slogan { } // usally the .name-and-slogan div

.-xmas-site-name {
  font-size: 2.429em; //34px if base font size is 14px
  line-height: 1em;
  a {
    @include link-colors($xmas-white); } }

.-xmas-site-slogan { }

.-xmas-mission { }

.-xmas-main {
  background: $xmas-white image-url('bk_content.jpg') 0 0 repeat-y;;
}

.-xmas-sidebar { } //make a copy to have different sidebars

.-xmas-navigation { }

.-xmas-content-wrapper {
  // @include linear-gradient(color-stops($xmas-white 97%, darken($xmas-white, 5%)), left);
  /* TODO: proper background */
}
.-xmas-content {
  width: 635px;
  margin: 0 auto;
}

.-xmas-title { } //this will be the h1, except for the home page

.-xmas-content-area { }

.-xmas-breadcrumb {
  a { } }

.-xmas-messages {
  ul {
    @include no-bullets;
    li { } } }

.-xmas-messages-error { @extend .-xmas-messages; }

.-xmas-messages-warning { @extend .-xmas-messages; }

.-xmas-messages-status { @extend .-xmas-messages; }

.-xmas-messages-help { @extend .-xmas-messages; }

.-xmas-tabs { } // usually the .tabs div

.-xmas-primary-tabs {
  li {
    a { }
    &.active {
      a { } } } }

.-xmas-secondary-tabs {
  li {
    a { }
    &.active {
      a { } } } }

// Make copies of these components for a diversity of menu styles
.-xmas-menu {
  > li { // use '>' to target only child items
    &.first { }
    &.last { }
    &.expanded { } } }

.-xmas-submenu { // think expanded menus, not secondary menus
    > li { // use '>' to target only child items
    &.first { }
    &.last { }
    &.expanded { } } }

.-xmas-footer {
  padding: 65px 0 40px; /* TODO: vertical rhythm */
  color: $xmas-light-grey;
  background: image-url('bk_footer.jpg') 0 0 no-repeat;
  position:relative; /* TODO: layout */
}

.-xmas-pager {
  .pager-item { }
  .pager-current { }
  .pager-previous { }
  .pager-next { }
  .pager-first { }
  .pager-last { }
  a { } }

.-xmas-feed-icons {
  .feed-icon { } }

.-xmas-footer-message { }

// Block Components
// Make copies of these components for a diversity of block styles
.-xmas-block { }

.-xmas-block-title { }

.-xmas-block-content { @extend .-xmas-block-content; }

// Node Components
// Make copies of these components for a diversity of node styles
.-xmas-node { }

.-xmas-node-picture { }

.-xmas-node-title { } //meant for node listings, see also .-xmas-title

.-xmas-node-meta {

.-xmas-node-submitted { }

.-xmas-node-terms { } }

.-xmas-node-content { @extend .-xmas-node-content; }

.-xmas-node-links {
  li {
    &.first { }
    &.last { } } }

.-xmas-node-sticky { }

.-xmas-node-unpublished {
    .unpublished { } }

.-xmas-node-by-viewer { }

.-xmas-node-preview { }

// Profile Components
.-xmas-profile { }

.-xmas-profile-picture { }

.-xmas-profile-category-header { }

.-xmas-profile-category-wrapper { }

.-xmas-profile-field-label { }

.-xmas-profile-field-value { }